.readonly {
  user-select: text;
  pointer-events: auto;
}

.readonly [data-type='inline-math'],
.readonly [data-type='block-math'] {
  cursor: default !important;
  pointer-events: none !important;
  user-select: none !important;
}

.readonly .viewer-task-item input[type='checkbox'],
.readonly input[type='checkbox'] {
  pointer-events: none !important;
  cursor: default !important;
}

.readonly .hljs {
  cursor: default !important;
  user-select: text !important;
}

.readonly .ProseMirror-selectednode {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
  pointer-events: none !important;
}

.readonly * {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-drag: none !important;
}

.readonly a {
  pointer-events: auto !important;
  cursor: pointer !important;
}

.readonly p,
.readonly h1,
.readonly h2,
.readonly h3,
.readonly h4,
.readonly h5,
.readonly h6,
.readonly li,
.readonly span {
  user-select: text !important;
}

.readonly .tiptap-mathematics-render {
  pointer-events: none !important;
}
