.editor-wrapper {
  @apply border-border bg-background min-h-96 rounded-md border;
}

.ProseMirror {
  @apply min-h-[200px] overflow-y-auto;
  flex: 1 1;
  padding: 3rem 3rem 30vh;
}

.ProseMirror:focus {
  outline: none;
}

.prosemirror-dropcursor-block,
.prosemirror-dropcursor-inline {
  @apply bg-border/50! h-[0.188rem] w-full cursor-grabbing rounded-4xl;
}
