.markdown :is(h1) {
  @apply text-2xl;
}

.markdown :is(h2) {
  @apply text-xl;
}

.markdown :is(h3) {
  @apply text-lg;
}

.markdown :is(h4) {
  @apply text-base;
}

.markdown :is(h1, h2, h3, h4, h5, h6) {
  @apply my-2 scroll-mt-32 font-semibold;
}

.markdown code:not(pre > code) {
  @apply bg-muted rounded p-1 px-[0.3rem] py-[0.2rem] font-mono text-sm font-medium before:hidden after:hidden;
}

.markdown blockquote {
  @apply border-primary! text-secondary-foreground/80! my-0! py-0! text-sm! font-normal not-italic!;

  p {
    @apply my-0 py-[2px] before:content-normal after:content-normal;
  }

  ol,
  ul {
    @apply my-0 py-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-secondary-foreground/80 my-0 py-0;
  }
}

.markdown li,
p {
  @apply my-2 p-0;
  padding-block: 0;
}

.markdown table {
  @apply w-full border;
}

.markdown tr {
  @apply [&>.selectedCell]:bg-border/10 [&>.selectedCell.tableSelection]:bg-border/50;
}

.markdown th {
  @apply bg-accent border p-2;
}

.markdown td {
  @apply border p-2;
}

.markdown hr {
  @apply border-border my-6 border-0 border-b;
}

.markdown a {
  @apply text-primary hover:text-primary/80 cursor-pointer font-normal underline;
}

.markdown input[type='checkbox']:disabled {
  @apply text-foreground focus:ring-primary border;
}

.markdown [data-type='taskList'] {
  @apply list-none pl-1;
}

.markdown [data-type='taskList'] li {
  @apply flex items-center gap-2;
}

.markdown [data-type='taskList'] input[type='checkbox'] {
  @apply h-4 w-4 rounded-none;
}

.markdown details {
  @apply py-2 transition-all;
}

.markdown summary {
  @apply text-foreground flex cursor-pointer items-center justify-between py-2 font-medium;
}

.markdown summary::after {
  content: '';
  @apply border-foreground inline-block h-2 w-2 -rotate-45 border-b-2 border-l-2 transition-all;
}

.markdown details[open] summary::after {
  transform: rotate(135deg);
}
