.toolbar-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 4px;
  border-radius: 6px;
  /* 툴바 높이 조정 - separator 높이 설정됨 */
  height: 30px;
}

.ProseMirror {
  @apply h-[500px];
}
