.white-editor {
  min-height: 100px;
  height: 100%;
  background-color: var(--we-background);
  border: 1px solid var(--we-border);
  border-radius: var(--we-radius-md);
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .toolbar-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.25rem;
    height: 40px;
  }

  .ProseMirror {
    padding: 2rem 2rem;
    flex: 1;
    overflow-y: auto;
    min-height: 200px;
  }

  .ProseMirror:focus {
    outline: 0;
  }

  .prosemirror-dropcursor-block,
  .prosemirror-dropcursor-inline {
    background-color: var(--we-border) !important;
    border-radius: var(--we-radius-md) !important;
    width: 100%;
    height: 2px !important;
    cursor: grabbing;
  }

  .ProseMirror table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
  }

  .ProseMirror td,
  .ProseMirror th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
  }

  .ProseMirror td:not([data-colwidth]):not(.column-resize-dragging),
  .ProseMirror th:not([data-colwidth]):not(.column-resize-dragging) {
    min-width: 200px;
  }

  .ProseMirror .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
  }

  .ProseMirror.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .ProseMirror .selection {
    background-color: hsl(var(--we-primary) / 0.05);
  }

  .dark .ProseMirror .selection {
    background-color: hsl(var(--we-primary) / 0.5);
  }

  .block-math-inner {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--we-radius-md);
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--we-accent);
    }
  }

  .tiptap-mathematics-render[data-type='inline-math'] {
    display: inline-block;
    background-color: transparent;
    border-radius: var(--we-radius-sm);
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--we-accent);
    }
  }

  .ProseMirror-separator {
    display: none;
  }

  .tiptap {
    :first-child {
      margin-top: 0;
    }

    strong {
      color: inherit !important;
    }

    [data-type='mention'] {
      color: var(--we-primary);
      border-radius: var(--we-radius-md);
      padding: 0.5rem;
      background-color: var(--we-primary-background);
      box-decoration-break: clone;
    }

    .dark [data-type='mention'] {
      background-color: var(--we-primary-background);

      &::after {
        content: normal;
      }
    }

    a {
      span {
        color: var(--we-primary);
        text-decoration: underline;

        strong {
          color: var(--we-primary);
          text-decoration: inherit;
        }
      }
    }
  }
}
