@import url('https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css');

@import 'tailwindcss' prefix(we);
@plugin '@tailwindcss/typography';

@import './github-dark.css';
@import './editor.css';
@import './markdown.css';

@custom-variant dark (&:is(.dark *));

html,
body {
  @apply we:antialiased we:scroll-smooth we:h-full we:w-full we:p-0 we:m-0;
  @apply we:font-pretendard;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@layer base {
  * {
    @apply we:border-border we:outline-ring/50;
  }
  body {
    @apply we:text-foreground we:bg-background;
  }

  .font-pretendard {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-display: swap;
  }
}

@theme {
  --font-pretendard:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --radius-sm: calc(var(--we-radius) - 4px);
  --radius-md: calc(var(--we-radius) - 2px);
  --radius-lg: var(--we-radius);
  --radius-xl: calc(var(--we-radius) + 4px);
  --color-background: var(--we-background);
  --color-foreground: var(--we-foreground);
  --color-card: var(--we-card);
  --color-card-foreground: var(--we-card-foreground);
  --color-popover: var(--we-popover);
  --color-popover-foreground: var(--we-popover-foreground);
  --color-primary: var(--we-primary);
  --color-primary-foreground: var(--we-primary-foreground);
  --color-secondary: var(--we-secondary);
  --color-secondary-foreground: var(--we-secondary-foreground);
  --color-muted: var(--we-muted);
  --color-muted-foreground: var(--we-muted-foreground);
  --color-accent: var(--we-accent);
  --color-accent-foreground: var(--we-accent-foreground);
  --color-destructive: var(--we-destructive);
  --color-border: var(--we-border);
  --color-input: var(--we-input);
  --color-ring: var(--we-ring);
  --color-chart-1: var(--we-chart-1);
  --color-chart-2: var(--we-chart-2);
  --color-chart-3: var(--we-chart-3);
  --color-chart-4: var(--we-chart-4);
  --color-chart-5: var(--we-chart-5);
  --color-sidebar: var(--we-sidebar);
  --color-sidebar-foreground: var(--we-sidebar-foreground);
  --color-sidebar-primary: var(--we-sidebar-primary);
  --color-sidebar-primary-foreground: var(--we-sidebar-primary-foreground);
  --color-sidebar-accent: var(--we-sidebar-accent);
  --color-sidebar-accent-foreground: var(--we-sidebar-accent-foreground);
  --color-sidebar-border: var(--we-sidebar-border);
  --color-sidebar-ring: var(--we-sidebar-ring);
  --color-primary-background: var(--we-primary-background);
}

:root {
  --we-radius: 0.65rem;
  --we-background: oklch(1 0 0);
  --we-foreground: oklch(0.32 0.01 0);
  --we-card: oklch(1 0 0);
  --we-card-foreground: oklch(0.141 0.005 285.823);
  --we-popover: oklch(1 0 0);
  --we-popover-foreground: oklch(0.141 0.005 285.823);
  --we-primary: oklch(0.623 0.214 259.815);
  --we-primary-foreground: oklch(0.97 0.014 254.604);
  --we-secondary: oklch(0.967 0.001 286.375);
  --we-secondary-foreground: oklch(0.21 0.006 285.885);
  --we-muted: oklch(0.967 0.001 286.375);
  --we-muted-foreground: oklch(0.7 0 0);
  --we-accent: oklch(0.967 0.001 286.375);
  --we-accent-foreground: oklch(0.7 0 0);
  --we-destructive: oklch(0.577 0.245 27.325);
  --we-border: oklch(0.92 0.004 286.32);
  --we-input: oklch(0.92 0.004 286.32);
  --we-ring: oklch(0.623 0.214 259.815);
  --we-chart-1: oklch(0.646 0.222 41.116);
  --we-chart-2: oklch(0.6 0.118 184.704);
  --we-chart-3: oklch(0.398 0.07 227.392);
  --we-chart-4: oklch(0.828 0.189 84.429);
  --we-chart-5: oklch(0.769 0.188 70.08);
  --we-sidebar: oklch(0.985 0 0);
  --we-sidebar-foreground: oklch(0.141 0.005 285.823);
  --we-sidebar-primary: oklch(0.623 0.214 259.815);
  --we-sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --we-sidebar-accent: oklch(0.967 0.001 286.375);
  --we-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --we-sidebar-border: oklch(0.92 0.004 286.32);
  --we-sidebar-ring: oklch(0.623 0.214 259.815);
  --we-popover-shadow:
    0px 16px 48px 0px rgba(17, 24, 39, 0.04), 0px 12px 24px 0px rgba(17, 24, 39, 0.04),
    0px 6px 8px 0px rgba(17, 24, 39, 0.02), 0px 2px 3px 0px rgba(17, 24, 39, 0.02);
  --we-primary-background: oklch(0.72 0.16 261.3 / 0.15);

  /* Text colors */
  --we-color-text-white: hsl(0, 0%, 100%);
  --we-color-text-transparent: hsla(0, 0%, 0%, 0);
  --we-color-text-black: hsl(0, 0%, 0%);
  --we-color-text-gray: hsl(0, 0%, 61%);
  --we-color-text-yellow: hsl(49, 100%, 62%);
  --we-color-text-green: hsl(141, 79%, 46%);
  --we-color-text-blue: hsl(221, 100%, 63%);
  --we-color-text-purple: hsl(270, 100%, 67%);
  --we-color-text-red: hsl(1, 100%, 66%);
  --we-color-text-black-contrast: hsl(0, 0%, 20%);
  --we-color-text-gray-contrast: hsla(37, 8%, 33%, 0.15);
  --we-color-text-yellow-contrast: hsla(44, 82%, 59%, 0.39);
  --we-color-text-green-contrast: hsla(126, 29%, 60%, 0.27);
  --we-color-text-blue-contrast: hsla(202, 54%, 59%, 0.27);
  --we-color-text-purple-contrast: hsla(274, 37%, 64%, 0.27);
  --we-color-text-red-contrast: hsla(8, 79%, 79%, 0.4);

  /* Highlight colors */
  --we-color-highlight-yellow: #fef9c3;
  --we-color-highlight-green: #dcfce7;
  --we-color-highlight-blue: #e0f2fe;
  --we-color-highlight-purple: #f3e8ff;
  --we-color-highlight-red: #ffe4e6;
  --we-color-highlight-gray: rgb(248, 248, 247);
  --we-color-highlight-yellow-contrast: #fbe604;
  --we-color-highlight-green-contrast: #c7fad8;
  --we-color-highlight-blue-contrast: #ceeafd;
  --we-color-highlight-purple-contrast: #e4ccff;
  --we-color-highlight-red-contrast: #ffccd0;
  --we-color-highlight-gray-contrast: rgba(84, 72, 49, 0.15);
}

.dark {
  --we-background: oklch(0.17 0 0);
  --we-foreground: oklch(0.93 0.01 0);
  --we-card: oklch(0.2 0 0);
  --we-card-foreground: oklch(0.985 0 0);
  --we-popover: oklch(0.2 0 0);
  --we-popover-foreground: oklch(0.985 0 0);
  --we-primary: oklch(0.68 0.18 257.96);
  --we-primary-foreground: oklch(0.93 0.01 0);
  --we-secondary: oklch(0.274 0.006 286.033);
  --we-secondary-foreground: oklch(0.985 0 0);
  --we-muted: oklch(0.274 0.006 286.033);
  --we-muted-foreground: oklch(1 0 0);
  --we-accent: oklch(0.21 0 0);
  --we-accent-foreground: oklch(0.985 0 0);
  --we-destructive: oklch(0.704 0.191 22.216);
  --we-border: oklch(1 0 0 / 10%);
  --we-input: oklch(1 0 0 / 15%);
  --we-ring: oklch(0.488 0.243 264.376);
  --we-chart-1: oklch(0.488 0.243 264.376);
  --we-chart-2: oklch(0.696 0.17 162.48);
  --we-chart-3: oklch(0.769 0.188 70.08);
  --we-chart-4: oklch(0.627 0.265 303.9);
  --we-chart-5: oklch(0.645 0.246 16.439);
  --we-sidebar: oklch(0.21 0.006 285.885);
  --we-sidebar-foreground: oklch(0.985 0 0);
  --we-sidebar-primary: oklch(0.546 0.245 262.881);
  --we-sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --we-sidebar-accent: oklch(0.274 0.006 286.033);
  --we-sidebar-accent-foreground: oklch(0.985 0 0);
  --we-sidebar-border: oklch(1 0 0 / 10%);
  --we-sidebar-ring: oklch(0.488 0.243 264.376);
  --we-popover-shadow: none;

  /* Highlight colors */
  --we-color-highlight-yellow: #b2b928;
  --we-color-highlight-green: #2bed6f67;
  --we-color-highlight-blue: #296cfc49;
  --we-color-highlight-purple: #7105c49d;
  --we-color-highlight-red: #722329f3;
  --we-color-highlight-yellow-contrast: #58531eba;
  --we-color-highlight-green-contrast: #2bed6f2b;
  --we-color-highlight-blue-contrast: #296cfc42;
  --we-color-highlight-purple-contrast: #7105c479;
  --we-color-highlight-red-contrast: #72232a;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 8px 8px 0 rgba(81, 81, 81, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 8px 8px 0 rgba(81, 81, 81, 0.25);
}

::-webkit-scrollbar-thumb:active {
  border: 4px solid transparent;
  box-shadow: inset 8px 8px 0 rgba(81, 81, 81, 0.35);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
